body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(gatinho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 40%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 2px solid black;
 }

 th {
    background-color: rgba(240, 248, 255, 0.591);
    font-size: 30px;
    text-align: left;
    padding: 15px; 
}

td {
    font-size: 30px;
    padding: 15px; 
    height: 10px;
    vertical-align: bottom;
    background-color: aliceblue;
}